@import 'tailwindcss';

#root {
  min-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* app.css */
@theme {
  --color-theme1: #22223b;
  --color-theme1-100: #07070c;
  --color-theme1-200: #0d0d17;
  --color-theme1-300: #141423;
  --color-theme1-400: #1b1b2f;
  --color-theme1-500: #22223b;
  --color-theme1-600: #40406f;
  --color-theme1-700: #6060a3;
  --color-theme1-800: #9595c2;
  --color-theme1-900: #cacae0;

  --color-theme2: #4a4e69;
  --color-theme2-100: #0f1015;
  --color-theme2-200: #1e1f2a;
  --color-theme2-300: #2c2f3f;
  --color-theme2-400: #3b3e54;
  --color-theme2-500: #4a4e69;
  --color-theme2-600: #666b8f;
  --color-theme2-700: #8b8fac;
  --color-theme2-800: #b1b4c8;
  --color-theme2-900: #d8dae3;

  --color-theme3: #9a8c98;
  --color-theme3-100: #1f1c1f;
  --color-theme3-200: #3f383e;
  --color-theme3-300: #5e535c;
  --color-theme3-400: #7d6f7b;
  --color-theme3-500: #9a8c98;
  --color-theme3-600: #aea4ad;
  --color-theme3-700: #c3bbc1;
  --color-theme3-800: #d7d2d6;
  --color-theme3-900: #ebe8ea;

  --color-theme4: #c9ada7;
  --color-theme4-100: #2e1f1c;
  --color-theme4-200: #5b3e38;
  --color-theme4-300: #895d54;
  --color-theme4-400: #ad8279;
  --color-theme4-500: #c9ada7;
  --color-theme4-600: #d4bdb8;
  --color-theme4-700: #dececa;
  --color-theme4-800: #e9dedc;
  --color-theme4-900: #f4efed;

  --color-theme5: #f2e9e4;
  --color-theme5-100: #3f2a1e;
  --color-theme5-200: #7f543d;
  --color-theme5-300: #b58165;
  --color-theme5-400: #d3b5a4;
  --color-theme5-500: #f2e9e4;
  --color-theme5-600: #f4ede9;
  --color-theme5-700: #f7f1ee;
  --color-theme5-800: #faf6f4;
  --color-theme5-900: #fcfaf9;
}
